<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <!-- 字體 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+TC:wght@100..900&display=swap"
        rel="stylesheet" />
</head>
<div class="field-description-box">
    <div class="field-description-pic"></div>
    <div class="field-description-text-area">
        <div class="field-description-text-title body-1">\ 很 chill 的休憩區 /</div>
        <div class="field-description-text-content body-4">我們貼心提供 飲水機、冰箱、微波爐、果汁機、膠囊咖啡機
            及不定時茶包及小餅乾零食，我們想讓在工作認真打拼之餘的你也是需要中場休息補充能量，然後再輕鬆泡上一杯咖啡坐在吧台或懶骨頭放空冥想，讓自己 chill 一下轉換心情！</div>
    </div>
    <!-- 部分內文有粗體 -->
</div>

<body>

</body>

</html>