.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
}
.component-footer{
    margin: 36px 0 36px ;
    color:$neutral-700;
}
.footer-dash{
    text-align: center;
}
.footer-break{
    display: inline;
}
@media (max-width: 768px){
    .component-footer{
    margin: 0;
    color:$neutral-700;
}
    .footer-break{
        width: 100%;
        height: 0;
        display: block;
    }
    .footer-dash{
        display: none;
    }
}